# This file maps author names and email addresses to canonical names
# See: https://git-scm.com/docs/gitmailmap

# Primary author
Neskeep <isenior@neskeep.com>
Israel Senior <israel@neskeep.com> Neskeep <isenior@neskeep.com>
